.toolbar {
    padding: 5px 7px 7px;
    position: relative;
    top: 2px;
    left: 3px;
    width: calc(100% - 9px);
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    .title {
        float: right;
        color: black;
        background: white;
        font-size: 14px;
        margin-top: 2px;
        min-width: 160px;
        img {
            max-height: 20px;
            max-width: 25px;
            width: auto;
            margin-right: 2px;
        }
        span {
            padding-top: 4px;
        }
        img,
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    button {
        font-weight: 400;
        float: left;
        margin-left: 5px;
        border-radius: 50%;

        &.disabled {
            pointer-events: none;
            cursor: auto;
            color: darken(#5368a6, 15%);
            text-shadow: 1px 1px #fff;
        }
    }
}

.messenger .toolbar {
}

.contact .toolbar {
}

.work .toolbar {
}

.paint .toolbar {
}

.shutdown .toolbar {
}
